body {
  background-color: #9eadc8;
}

.content {
  width: 768px;
  margin: auto;
  background-image: url("../img/paper.webp");
  padding: 15px;
  border-radius: 33px;
}

#title {
  text-align: center;
}

fieldset {
  margin: 14px 28px;
  padding: 15px;
}

legend {
  font-weight: bold;
  font-size: 1.5em;
}

table {
  width: 512px;
  margin: auto;
}

th {
  text-align: left;
  font-size: 1.1em;
  text-decoration-line: underline;
}

#steps {
  padding: 0 15px;
}

#steps li {
  padding: 10px 20px;
  margin: 10px 0;
  border-radius: 16px;
}

.odd {
  background-color: #eddcd2;
}

.even {
  background-color: #ccd5ae;
}
