<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="./assets/css/styles.css">
</head>
<body>
    <div class=content>
        <div id="title">
            <h2>{{ title }}</h2>
            <img src="{{ photo_url }}" alt="{{ title }}" id="main-photo">
        </div>
        <br>
        <fieldset>
            <legend>Ingredients</legend>
            <table>
                <tr>
                  <th>NAME</th>
                  <th>AMOUNT</th>
                </tr>
            {% for ingredient in ingredients %}
            {% if loop.index % 2 != 0 %}
                <tr>
                    <td class="odd td-1">{{ ingredient[0] }}</td>
                    <td class="odd td-2">{{ ingredient[1] }}</td>
                </tr>
            {% else %}
                <tr>
                    <td class="even td-1">{{ ingredient[0] }}</td>
                    <td class="even td-2">{{ ingredient[1] }}</td>
                </tr>
            {% endif %}
            {% endfor %}
            </table> 
        </fieldset>
        <br>
        <fieldset>
            <legend>Steps</legend>
            <div id="steps">
                <ol>
                {% for step in steps %}
                {% if loop.index % 2 != 0 %}
                    <li class="odd">{{ step }}</li>
                {% else %}
                    <li class="even">{{ step }}</li>
                {% endif %}
                {% endfor %}
                </ol>
            </div>
        </fieldset>
    </div>
</body>
</html>